.newtask {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: calc(0px - 3.5rem - 6px);
}

.newtask input {
  background: var(--gray-500);
  border: 0;
  border-radius: 8px;
  padding: 1rem;
  color: var(--gray-100);
  width: 100%;
}

.newtask button[type='submit'] {
  display: flex;
  align-items: center;
  background: var(--blue-dark);
  color: var(--gray-100);
  gap: 0.5rem;
  border: 0;
  border-radius: 8px;
  padding: 1rem;
  font-weight: bold;
  line-height: 1.4;
  transition: background-color 0.1s;
}

.newtask button[type='submit']:not(:disabled):hover {
  background: var(--blue);
  cursor: pointer;
}

.newtask button[type='submit']:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}